<div class="p-3 mb-2 bg-info text-white text-center"><h1>Discover all the Cocktails</h1></div>

  <div class="container">

  <div class="shadow-sm p-3 mb-5 bg-white rounded">
      <% @cocktails.each do |cocktail| %>
        <div>
          <%= link_to cocktail_path(cocktail) do %>
           <p><%= cocktail.name %></p>
          <% end %>
        </div>
     <% end %>
    </div>

  <div class="shadow-sm p-3 mb-5 bg-white rounded">
    <div>
      <%= link_to new_cocktail_path do %>
      <p> Ajouter un nouveau cocktail </p>
      <% end %>
    </div>
    </div>
  </div>
